 body{
  font-family: "Inv Maison Neue","Maison Neue",-apple-system,BlinkMacSystemFont,"Open Sans",open-sans,sans-serif;
    font-size: 12px;
    color: #9ca4ab;
}

.font-color-888888{
  color:#888888;
}
 .b-s-b{
   border-bottom:1px solid black;
 }
 
.m-t-15{
  margin-top:15px;
}
.m-b-10{
  margin-bottom:10px;
}
.cart-icon{
  display: none; 
}
.cart-label{
  display: block;
}

/* media */
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm {
  max-width: 75%;
}
 
}
@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width:  75%;
}
}
@media (min-width: 768px){
.container, .container-md, .container-sm {
    max-width: 75%;
}

}
@media (min-width: 576px){

  
.container, .container-sm {
    max-width:  75%;
}}

